@import './goblal.scss';

.balance{
    width: 90%;
    height: 50px;
    max-width: 34rem;
    background-color: $Verydarkblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 20px 2px rgba($Darkblue, 0.5);
    &-info{
        list-style: none;
        & li{
            font-weight: 300;
        }
        &-red{
            color: $Lightredstudy;
        }
        &-white{
            color: $TextColorSecundary;
        }
    }
    &-icon{
        width: 20px;
        height: 20px;
        color: $TextColorPrimary;
        // color: $TextColorSecundary;
    }
}