@import './goblal.scss';

.notFound{
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    &-text{
        color: $Verydarkblue;
        font-size: 3rem;
        text-align: center;
        font-weight: 400;

    }
}